<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <div class="wrapper clear">
            {% if layout.show_sidebar == null or layout.show_sidebar == 1 %}
            {% include sidebar.html %}
            {% endif %}            
            <main class="the-content" role="main" style="{%if page.layout == 'post' %}width: 100%{% endif %}">
                {% if layout.show_sidebar == null or layout.show_sidebar == 1 %}
                {% include search.html %}
                {% endif %}                                 
                {{ content }}
            </main>
        </div>

        {% include scripts.html %}
    </body>
</html>